# Assignment 2

Q1) What are the two values of the Boolean data type? How do you write them?

In [1]:
# Ans:- The two values of Boolean data type are: TRUE and FALSE
a = 0
print(bool(a))
b = 1
print(bool(b))

# For 0 boolean value is FALSE  and For 1 boolean value is TRUE

False
True

Q2) What are the three different type of Boolean Operator?

In [ ]:
AND , OR , NOT are the three different types of Boolean Operator

In AND Opertor If any input value is FALSE it return FAlSE else returns TRUE.
In OR Opertor If any input value is TRUE it return TRUE else returns FALSE.
In NOT Operator If input is TRUE then it will return FALSE and If input is FALSE it will return TRUE.

Q3) Make a list of each Boolean operator's truth tables i.e. every possible combination of Boolean values for the operator and what it evaluate.

In [ ]:
And :
TRUE   TRUE   =  TRUE
TRUE   FALSE  =  FALSE
FALSE  TRUE   =  FALSE
FALSE  FALSE  =  FALSE

OR :
TRUE   TRUE   =  TRUE
TRUE   FALSE  =  TRUE
FALSE  TRUE   =  TRUE
FALSE  FALSE  =  FALSE

NOT:
TRUE  =  FALSE
FALSE  =  TRUE

Q4) What are the values of the following expressions?

In [3]:
a = (5>4) and (3==5)
a

False

In [4]:
b = not (5>4)
b

False

In [5]:
c = (5>4) or (3==5)
c

True

In [6]:
d = not((5>4) or (3==5))
d

False

In [7]:
e = (True and True) and (True == False)
e

False

In [9]:
f = (not False) or (not True)
f

True

Q5 What are the six comparison operators?

In [ ]:
#comparison operators include    ==,  >,  < ,  >=, <= , !=
i = 5
print(i == 5)     
print(i != 5)     
print(i > 5)     
print(i >= 5)     
print(i < 5)     
print(i <= 5)

Q6) How do you tell the difference between the equal to and assignment operators?

In [ ]:
Equal to operator is used to do comparision between the two values.
Assingment operator is used to assign the varaible to the Value.

Q7) Identifying the three blocks in the code:

In [12]:
spam = 0
if spam == 10:
    print('eggs')
if spam > 5:
    print('bacon')
else:
    print('sapm')
    print('spam')
    print('spam')

sapm
spam
spam

Q8) Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints
Greetings! if anything else is stored in spam.

In [16]:
spam = int(input())
if spam == 1:
    print('Hello')
elif spam == 2:
    print('Howdy')
else:
    print('Greetings')

6
Greetings

Q9)If your programme is stuck in an endless loop, what keys youâ€™ll press?

In [ ]:
Ctrl + C

Q10) How can you tell the difference between break and continue?

In [ ]:
Break statement terminates the execution of the current loop and continue keyword skips the current iteration and executes the very next iteration in the loop

Q11) In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

In [ ]:
# Ans: There is no differance between these range function. they are just wriiten in the different forms but output is same for all.

Q12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent
program that prints the numbers 1 to 10 using a while loop.

In [21]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [23]:
i = 1
while(i<=10):
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10